.main {
	width: 600px;
	height: 100vh;
	margin: 0px auto;
	display: flex;
	align-items: center;
}

.app {
	width: 100%;
	height: 800px;
	color: #e4e6eb;
	background-color: #242526;
	border: solid 1px #ffffff23;
	border-radius: 20px;
}

.top-bar {
	height: 60px;
	padding: 10px;
	display: flex;
}

.group-image {
	width: 60px;
	height: 60px;
	background-color: #444546;
	border-radius: 50%;
}

.group-info {
	display: flex;
	align-items: center;
}

.messages {
	height: 645px;
	padding: 10px;
	background-color: #1b1c1d;
	overflow-y: scroll;
}

.message-bar {
	padding: 10px;
}

.message-bar input {
	width: 560px;
	padding: 10px;
	color: #e4e6eb;
	background-color: #444546;
	border: none;
	border-radius: 20px;
	outline: none;
}

.user-name{
	color: #7c7e7f;
	font-size: 12px;
}

.wrapper{
	margin: 10px 0px;
}

.bubble {
	color: white;
	background-color: #3e4042;
	font-family: sans-serif;
	width: fit-content;
	max-width: 300px;
	overflow-wrap: anywhere;
	padding: 10px;
	margin: 5px 0px;
}

.bubble.left {
	border-radius: 5px 20px 20px 5px;
}

.bubble.left:first-child {
	border-radius: 20px 20px 20px 5px;
}

.bubble.left:last-child {
	border-radius: 5px 20px 20px 20px;
}

.bubble.left:only-child {
	border-radius: 20px;
}

.bubble.right {
	margin-left: auto;
	background-color: #005ed0;
	border-radius: 20px 5px 5px 20px;
}

.bubble.right:first-child {
	border-radius: 20px 20px 5px 20px;
}
.bubble.right:last-child {
	border-radius: 20px 5px 20px 20px;
}
.bubble.right:only-child {
	border-radius: 20px;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: #18191a;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
	padding: 5px 10px;
}

::-webkit-scrollbar-track {
	background-color: #444546;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 10px;
	border-radius: 10px;
	background-color: #7c7e7f;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #7c7e7f;
}
